.header {
    display: flex;
    margin: 7px;
    flex-wrap: wrap;
}
.half {
    width: 50%;
}
.spacer {
    padding: 10px;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.contact {
    display: flex;
}