.header {
    display: flex;
    margin: 7px;
    flex-wrap: wrap;
}
.half {
    width: 50%;
}
.spacer {
    padding: 10px;
    border: solid;
    border-radius: 12px;
}
.gray {
    background:
        linear-gradient(rgba(78, 78, 78, .4),rgba(78, 78, 78, .4));
}
.right {
    display: flex;
    justify-content: flex-end;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.bio {
    display: flex;
}
.center {
        width: 50%;
        margin: 10px;
        padding: 10px;
        text-align: center
}
.projects {
    display: flex;
}
.split {
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.info {
    width: 50%;
}
.pic {
    width: 75%;
    height: 75%;
}
.contact {
    display: flex;
}