
.half {
    width: 50%;
    text-align: center;
}
.spacer {
    padding: 10px;
    border: solid;
    border-radius: 12px;
}
.gray {
    background:
        linear-gradient(rgba(78, 78, 78, .4),rgba(78, 78, 78, .4));
}

.center {
        width: 50%;
        margin: 10px;
        padding: 10px;
        text-align: center
}

.split {
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.info {
    width: 50%;
}
.pic {
    width: 75%;
    height: 75%;
}
.social {
    width: 7%;
    height: 7%;
}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .right {
        display: flex;
        justify-content: flex-end;
    }
    .left {
        display: flex;
        justify-content: flex-start;
    }
    .bio {
        display: flex;
    }
    .projects {
        display: flex;
    }
    .contact {
        display: flex;
    }
}